/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Images */
.logo{
    margin: 11px 29px
}

.logo img{
    height: 80px;
    margin: 2px 4px;
}

/* Navigation Bar: List Styling */
#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
    font-family: 'Proza Libre', sans-serif;
}

#navbar ul li{
    list-style: none;
    font-size: 1.4rem;
}

#navbar ul li a{
    color: whitesmoke;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: whitesmoke;
}

/* Home-Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
    height: 538px;
    justify-items: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 649px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: whitesmoke;
    text-align: center;
    font-family: 'Bree Serif', serif;
    position: absolute;
    top: 274px;
}

#home pre{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
    position: absolute; 
    top: 344px;
    
}

/* Services Container Section */
#services{
    margin: 20px 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #e4e2e2;
}

#services .box img{
    height: 175px;
    margin: auto;
    display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;
}

/* Clients-Section */
#client-section{
    position: relative;
    height: 303px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients .client-item img{
    height: 124px;
    padding: 18px;
    margin: 7px;
}

#client-section::before{
    content: "";
    background: url('../bg.jpg') no-repeat;
    position: absolute;
    height: 303px;
    width: 100%;
    z-index: -1;
    opacity: 0.35;
}

/* Contact-Section */
#contact-section{
    position: relative;
}

#contact-section::before{
    content: "";
    background: url('../contact.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 610px;
    z-index: -1;
    opacity: 0.6;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* Footer Section */
footer{
    background-color: black;
    color: whitesmoke;
    position: relative;
    bottom: 0px;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-size: 3.2rem;
    padding: 4px 7px 7px 7px;
    font-family: 'Bree Serif', serif;
}

.h-secondary{
    font-size: 2.2rem;
    padding: 7px;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid whitesmoke;
    background-color: brown;
    color: black;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 403px;
}

.btn:hover{
    color: antiquewhite;
    background-color: rgb(57, 15, 15);
}

.center{
    text-align: center;
}